.follower {
  display: flex;
  padding: 1rem 0;
  border-bottom: 0.05rem solid rgba(0, 0, 0, 0.082);
  padding: 1rem 0;
}

.follower__details {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-left: 1.25rem;
}

.follower__img {
  border-radius: 50%;
  width: 4rem;
}

.follower__name {
  display: flex;
}

.follower__name h4 {
  margin-right: 0.5rem;
}

.follower__location {
  font-size: 0.8rem;
  font-weight: 600;
  color: gray;
}
