* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  font-family: sans-serif;
}

.app {
  position: relative;
  height: 100vh;
}

.pageLink {
  font-weight: 600;
  color: grey;
  text-decoration: none;

  transition: color 0.15s linear;
}

.pageLink:hover,
.pageLink:focus {
  color: black;
  outline: none;
}
